* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    max-width: 1366px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    /* position: relative; */
}

a {
    color: unset;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 30px;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar {
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 300p;
    justify-content: space-between;
    /* position: relative; */
}

.nav__menu ul li {
    list-style-type: none;
    display: inline;
    margin-right: 18px;
}

.nav__menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.nav__menu ul li a {
    text-decoration: none;
}

.nav__icon,
.nav__logo,
.nav__menu {
    flex: 1;
}

.menu__mb-icon {
    display: none;
    flex: 1;
    /* cursor: pointer; */
}

.nav__logo {
    text-align: center;
}

.nav__icon i {
    float: right;
    margin-left: 10px;
    font-size: 1.5rem;
}


/* slide */

.slide {
    /* overflow-x: auto; */
    /* overflow-x: hidden; */
    width: 700%;
    display: flex;
    /* position: relative; */
}

.slide input {
    display: none;
}

.slide__box {
    padding: 70px 0;
    width: 20%;
    display: flex;
    transition: 2s;
}


/* .slide input {
    display: none;
} */

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

.slide__wraper {
    min-width: 1350px;
    max-width: 1366px;
}

.slide__slogan {
    margin-top: 50px;
}

.slide__slogan h2 {
    font-size: 3.1rem;
    color: #3c68b3;
}

.slide__slogan p {
    color: gray;
    margin: 50px 0;
    line-height: 1.5rem;
}

.slide__slogan a {
    /* position: relative; */
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    background-color: #3c68b3;
    color: white;
    line-height: 3.4rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.slide__slogan a:hover {
    box-shadow: 0 0px 5px 1px rgba(99, 99, 99, 0.5);
    transform: translateX(5px);
}

.slide__img {
    width: 100%;
    height: 100%;
    /* position: relative; */
    margin-left: 240px;
    /* margin-top: -80px; */
    /* z-index: 10; */
    margin-top: -40px;
}

.img-bg {
    margin-top: 1.2%;
    /* position: absolute; */
    background-color: #3c68b3;
    width: 70%;
    height: 100%;
    /* z-index: 89; */
    border-radius: 69% 43% 50% 64% / 48% 84% 31% 68%;
    /* border-radius: 10px 5px 2em / 20px 25px 30%; */
}

.slide__pic img {
    position: absolute;
    z-index: 90;
    height: 14%;
    /* margin-left: -30%; */
    margin-top: -526px;
}

.slide-control {
    transition: .2s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1rem;
    margin-top: 30px;
    /* z-index: -1; */
}

.slide-control i {
    cursor: pointer;
    line-height: 1.2rem;
    font-size: 1.8rem;
}

.slide-control i:hover,
.slide-control i:active {
    color: #3c68b3;
}

.slide-control .number {
    display: flex;
    user-select: none;
}


/* slide end */

.about {
    /* z-index: -1; */
    /* display: flex; */
    width: 100%;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    margin-top: 50px;
}

.ab__ship {
    height: 93px;
    display: flex;
    box-shadow: 0px 0px 2px 0px rgb(99 99 99 / 50%);
}

.ab__pay {
    height: 93px;
    display: flex;
    box-shadow: 0px 0px 2px 0px rgb(99 99 99 / 50%);
}

.ab__vipUser {
    height: 93px;
    display: flex;
    box-shadow: 0px 0px 2px 0px rgb(99 99 99 / 50%);
}

.ab__insu {
    height: 93px;
    display: flex;
    box-shadow: 0px 0px 2px 0px rgb(99 99 99 / 50%);
}

.ab__icon {
    font-size: 30px;
    color: #3c68b3;
    line-height: 70px;
    margin: auto;
    text-align: center;
}

.ab__text {
    padding: auto;
    margin: auto;
    width: 66%;
}


/* product */

.product {
    margin-top: 50px;
}

.top-sell h3 {
    text-align: center;
    margin-bottom: 20px;
}

.pro__item {
    position: relative;
    margin-top: 40px;
}

.pro__img1 {
    height: 300px;
}

.pro__img2 {
    height: 300px;
    display: none;
}

.pro__info {
    text-align: center;
    display: block;
    margin-top: 20px;
}

.pro__name {
    color: gray;
}

.pro__price {
    padding: 10px;
}

.pro__price-new {
    font-weight: 800;
}

.pro__price-old {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}

.pro__buy {
    text-align: center;
    background-color: #3c68b3;
    margin: 15px auto;
    padding: 0.5rem 1rem;
    color: white;
    width: 50%;
}

.pro__item:hover .pro__img1 {
    display: none;
    transition: 0.8s ease-in-out;
}

.pro__item:hover .pro__img2 {
    display: block;
    transition: 0.8s ease-in-out;
}

.new-product {
    margin-top: 50px;
}

.new-product h3 {
    text-align: center;
}


/* banner */

.banner {
    height: 500px;
    margin-top: 60px;
}

.popular-sell h3 {
    text-align: center;
}


/* footer */

.footer {
    box-shadow: 0px -3px 18px 0px rgb(99 99 99 / 50%);
    padding-bottom: 40px;
    width: 96%;
    margin: auto;
    margin-top: 200px;
    /* padding: 0 0; */
}

.footer-item h3 {
    margin: 20px 0;
}

.footer-item p {
    line-height: 2.5rem;
    color: var(--black-color);
}

.footer-item p span {
    font-weight: 600;
}

.footer-item a {
    line-height: 1.5rem;
    display: block;
}

.footer-logo {
    margin: 20px 0;
    width: 100px;
    height: 50px;
}

@media (max-width :1334px) and (min-width :1025px) {
    .menu__mb-icon {
        display: block;
        font-size: 3rem;
    }
    .nav__menu {
        width: 300px;
        margin: 0;
        display: block;
        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
        /* z-index: 100; */
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 100;
        margin-left: 30px;
        padding-right: 100px;
        background-color: #fff;
        transition: all 0.5s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .nav__menu.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    /* .nav__menu ul {
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 100;
        margin-left: 30px;
        padding-right: 100px;
        background-color: #fff;
        transition: all 0.5s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } */
    .nav__menu li a {
        display: block;
    }
}

@media (max-width :1024px) and (min-width :1011px) {
    .menu__mb-icon {
        display: block;
        font-size: 3rem;
    }
    .nav__menu {
        width: 300px;
        margin: 0;
        display: block;
        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
        /* z-index: 100; */
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 100;
        margin-left: 30px;
        padding-right: 100px;
        background-color: #fff;
        transition: all 0.5s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .nav__menu.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    /* .nav__menu ul {
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 100;
        margin-left: 30px;
        padding-right: 100px;
        background-color: #fff;
        transition: all 0.5s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } */
    .nav__menu li a {
        display: block;
    }
    .img-bg {
        margin-left: 26%;
    }
    .slide__pic img {
        margin-left: -7%;
        margin-top: -680px;
    }
}

@media (max-width :1112px) and (min-width :1012px) {
    .slide__pic img {
        margin-left: -9%;
        margin-top: -695px;
        height: 10%;
    }
    .img-bg {
        margin-left: -4%;
        width: 125%;
    }
}

@media (max-width :1010px) and (min-width :741px) {
    .menu__mb-icon {
        display: block;
        font-size: 2rem;
    }
    .nav__menu {
        width: 300px;
        margin: 0;
        display: block;
        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
        /* z-index: 100; */
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 100;
        margin-left: 30px;
        padding-right: 100px;
        background-color: #fff;
        transition: all 0.5s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .nav__menu.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    /* .nav__menu ul {
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 100;
        margin-left: 30px;
        padding-right: 100px;
        background-color: #fff;
        transition: all 0.5s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } */
    .nav__menu li a {
        display: block;
    }
    .img-bg {
        margin-left: 110px;
        width: 100%;
    }
    /* .slide__img {
        
    } */
    .slide__img {
        margin-left: -60px;
    }
    .slide__pic img {
        margin-top: -689px;
        height: 10%;
    }
    .ab__vipUser {
        margin-top: 20px;
    }
    .ab__insu {
        margin-top: 20px;
    }
    .ab__ship {
        margin-top: 20px;
    }
    .ab__pay {
        margin-top: 20px;
    }
    /* .banner {
        height: ;
    } */
}

@media (max-width: 740px) {
    .menu__mb-icon {
        display: block;
        font-size: 1.5rem;
    }
    .menu__mb-icon:hover {}
    .nav__menu {
        width: 300px;
        margin: 0;
        display: block;
        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
        /* z-index: 100; */
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 100;
        margin-left: 30px;
        padding-right: 100px;
        background-color: #fff;
        transition: all 0.5s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .nav__menu.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    /* .nav__menu ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 10;
        margin-left: 30px;
        background-color: #fff;
    } */
    .nav__menu li a {
        display: block;
    }
    .nav__icon i {
        font-size: 1rem;
    }
    .banner {
        height: 120px;
    }
    .ab__vipUser {
        margin-top: 20px;
    }
    .ab__insu {
        margin-top: 20px;
    }
    .ab__ship {
        margin-top: 20px;
    }
    .ab__pay {
        margin-top: 20px;
    }
}

@media (min-width: 1300px) {
    .nav__menu {
        justify-content: space-between;
        display: flex;
    }
}


/* @media (min-width: 1090px) {
    .slide__pic img {
        margin-left: 0px;
    }
} */